# BEGIN COPYRIGHT NOTICE
# Copyright 2023 Open Text.
# 
# The only warranties for products and services of Open Text and its affiliates and licensors
# ("Open Text") are as may be set forth in the express warranty statements accompanying such
# products and services. Nothing herein should be construed as constituting an additional warranty.
# Open Text shall not be liable for technical or editorial errors or omissions contained herein.
# The information contained herein is subject to change without notice.
#
# END COPYRIGHT NOTICE
{{- if .Values.nifiRegistry.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}-reg
  labels: {{- include "idol-library.labels" (dict "root" . "component" .Values.nifiRegistry) | nindent 4 }}
    app: {{ .Values.name }}-reg
  annotations:
    app.kubernetes.io/name: {{ .Values.name }}-reg
    app.kubernetes.io/part-of: {{ $.Values.name }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.name }}-reg
  ports:
  - protocol: TCP
    port: 18080
    targetPort: 18080
    name: http
  - protocol: TCP
    port: 18443
    targetPort: 18443
    name: https
{{- end -}}
