# BEGIN COPYRIGHT NOTICE
# (c) Copyright 2022 Micro Focus or one of its affiliates.
# END COPYRIGHT NOTICE
{{- $ingress := .Values.ingress }}
{{- if $ingress.enabled }}
{{- /*
 nginx ingress needs path capture to achieve prefix type routing
*/}}
{{- $pathSuffix := "" }}
{{- $pathType := "Prefix" }}
{{- if eq $ingress.type "nginx" }}
{{- $pathSuffix = "(.*)"}}
{{- $pathType = "ImplementationSpecific" }}
{{- end }}

{{- if eq $ingress.type "gateway" }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Values.findIngressName }}-aci
  labels: {{- include "idol-library.labels" (dict "root" . "component" .Values) | nindent 4 }}
spec:
  parentRefs:
  - name: {{ $ingress.gateway.name | required "Must specify ingress.gateway.name, having set ingress.type=gateway" }}
  {{- if $ingress.gateway.namespace }}
    namespace: {{ $ingress.gateway.namespace }}
  {{- end }}
  hostnames: [{{ $ingress.host }}]
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /community
    backendRefs:
    - name: {{ .Values.communityName }}
      port: {{ .Values.communityACIPort }}
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplacePrefixMatch
          replacePrefixMatch: /
    {{- if (or $ingress.gateway.requestTimeout $ingress.gateway.backendTimeout) }}
    timeouts:
      {{- if $ingress.gateway.requestTimeout }}
      request: {{ $ingress.gateway.requestTimeout }}
      {{- end -}}
      {{- if $ingress.gateway.backendTimeout }}
      backendRequest: {{ $ingress.gateway.backendTimeout }}
      {{- end -}}
    {{- end }}
  - matches:
    - path:
        type: PathPrefix
        value: /view
    backendRefs:
    - name: {{ .Values.viewServerName }}
      port: {{ .Values.viewServerACIPort }}
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplacePrefixMatch
          replacePrefixMatch: /
    {{- if (or $ingress.gateway.requestTimeout $ingress.gateway.backendTimeout) }}
    timeouts:
      {{- if $ingress.gateway.requestTimeout }}
      request: {{ $ingress.gateway.requestTimeout }}
      {{- end -}}
      {{- if $ingress.gateway.backendTimeout }}
      backendRequest: {{ $ingress.gateway.backendTimeout }}
      {{- end -}}
    {{- end -}}
{{- else }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.findIngressName }}-aci
  labels: {{- include "idol-library.labels" (dict "root" . "component" .Values) | nindent 4 }}
  annotations:
{{- if eq $ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/proxy-body-size: {{ $ingress.proxyBodySize }}
{{- else if eq $ingress.type "haproxy" }}
    haproxy.router.openshift.io/rewrite-target: / 
    haproxy.router.openshift.io/proxy-body-size: {{ $ingress.proxyBodySize }}
{{- end }}
spec:
{{- if $ingress.className }}
  ingressClassName: {{ $ingress.className }}
{{- end }}
{{- if $ingress.tls.secretName }}
  tls:
  - hosts:
      - {{ $ingress.host | required "tls.secretName was specified but no host value supplied" }}
    secretName: {{ $ingress.tls.secretName }}
{{- end }}
  rules:
  - http:
      paths:
      - path: {{ print "/community/" $pathSuffix }}
        pathType: {{ $pathType }}
        backend:
          service:
            name: {{ .Values.communityName }}
            port:
              name: {{ .Values.idolACIPortName }}
      - path: {{ print "/view/" $pathSuffix }}
        pathType: {{ $pathType }}
        backend:
          service:
            name: {{ .Values.viewServerName }}
            port:
              name: {{ .Values.idolACIPortName }}
{{- if $ingress.host }}
    host: {{ $ingress.host }}
{{- end }}
{{ if $ingress.tls.secretName -}}
---
{{ include "idol-library.ingress.secret" (dict "tls" $ingress.tls) -}}
{{- end }}
{{- end }}
{{- end }}