###
# Copyright (c) 2019-2020 Micro Focus or one of its affiliates.
#
# Licensed under the MIT License (the "License"); you may not use this file
# except in compliance with the License.
#
# The only warranties for products and services of Micro Focus and its affiliates
# and licensors ("Micro Focus") are as may be set forth in the express warranty
# statements accompanying such products and services. Nothing herein should be
# construed as constituting an additional warranty. Micro Focus shall not be
# liable for technical or editorial errors or omissions contained herein. The
# information contained herein is subject to change without notice.
###

# expose internal service ports that don't necessarily
# need to be exposed to the outside world
version: "3.7"

services:
  idol-content:
    ports:
      - 9100-9102:9100-9102
  idol-agentstore:
    ports:
      - 9050-9052:9050-9052
  idol-categorisation-agentstore:
    ports:
      - 9180-9182:9180-9182
  idol-community:
    ports:
      - 9030-9032:9030-9032
  idol-view:
    ports:
      - 9080-9082:9080-9082
  idol-nifi:
    ports:
      - 8001:8081
      - 11000:11000
  idol-find:
    ports:
      - 8000:8000
