# BEGIN COPYRIGHT NOTICE
# Copyright 2023 Open Text.
# 
# The only warranties for products and services of Open Text and its affiliates and licensors
# ("Open Text") are as may be set forth in the express warranty statements accompanying such
# products and services. Nothing herein should be construed as constituting an additional warranty.
# Open Text shall not be liable for technical or editorial errors or omissions contained herein.
# The information contained herein is subject to change without notice.
#
# END COPYRIGHT NOTICE
{{- define "idolnifi.nifi.ingress" }}
{{ $root := get . "root" | required "idolnifi.nifi.ingress: missing nifiCluster" }}
{{ $nifiCluster := get . "nifiCluster" | required "idolnifi.nifi.ingress: missing nifiCluster" }}
{{ $nifiClustersLen := get . "nifiClustersLen" | required "idolniif.nifi.ingress: missing nifiClustersLen" }}
{{- if $nifiCluster.ingress.enabled -}}
{{- /*
 nginx ingress needs path capture to achieve prefix type routing
*/}}
{{- $pathSuffix := "" }}
{{- $pathType := "Prefix" }}
{{- if eq $root.Values.ingressType "nginx" }}
{{- $pathSuffix = "(.*)"}}
{{- $pathType = "ImplementationSpecific" }}
{{- end }}
---
{{- if eq $root.Values.ingressType "gateway" }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $nifiCluster.clusterId }}
  labels: {{- include "idol-library.labels" (dict "root" $root "component" $nifiCluster) | nindent 4 -}}
    app: {{ $nifiCluster.clusterId }}
spec:
  parentRefs:
  - name: {{ $nifiCluster.ingress.gateway.name | required "Must specify ingress.gateway.name, having set ingressType=gateway" }}
  {{- if $nifiCluster.ingress.gateway.namespace }}
    namespace: {{ $nifiCluster.ingress.gateway.namespace }}
  {{- end }}
  hostnames: [{{ $nifiCluster.ingress.host }}]
  rules:
  - matches:
    - path:
        type: PathPrefix
        value:  {{ print (default ( $nifiClustersLen | plural "/" (print "/" $nifiCluster.clusterId "/")) $nifiCluster.ingress.proxyPath) | quote }}
    backendRefs:
    - name: {{ $nifiCluster.clusterId }}
      port: 8080
    filters:
    - type: RequestHeaderModifier
      requestHeaderModifier:
        add:
        - name: X-Forwarded-Proto
          value: {{ ternary "https" "http" (eq $nifiCluster.ingress.gateway.protocol "https") }}
        - name: X-Forwarded-Host
          value: {{ $nifiCluster.ingress.host }}
        - name: X-Forwarded-Port
          value: {{ $nifiCluster.ingress.port | quote }}
        {{- $contextPath := (trimAll "/" (default ( $nifiClustersLen | plural "" $nifiCluster.clusterId) $nifiCluster.ingress.proxyPath)) }}
        {{- if $contextPath }}
        - name: X-ProxyContextPath
          value: {{ print "/" $contextPath | quote }}
        {{- end }}
    {{- if (or $nifiCluster.ingress.gateway.requestTimeout $nifiCluster.ingress.gateway.backendTimeout) }}
    timeouts:
      {{- if $nifiCluster.ingress.gateway.requestTimeout }}
      request: {{ $nifiCluster.ingress.gateway.requestTimeout }}
      {{- end -}}
      {{- if $nifiCluster.ingress.gateway.backendTimeout }}
      backendRequest: {{ $nifiCluster.ingress.gateway.backendTimeout }}
      {{- end -}}
    {{- end -}}
{{- else }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $nifiCluster.clusterId }}
  labels: {{- include "idol-library.labels" (dict "root" $root "component" $nifiCluster) | nindent 4 }}
    app: {{ $nifiCluster.clusterId }}
  annotations: 
    app.kubernetes.io/name: {{ $nifiCluster.clusterId }}
    app.kubernetes.io/part-of: {{ $nifiCluster.clusterId }}
{{- if eq $root.Values.ingressType "nginx" }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/proxy-body-size: {{ $root.Values.ingressProxyBodySize }}
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/affinity-mode: persistent
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: {{ $root.Values.name }}-basic-auth
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      server_tokens off;
      proxy_pass_header Authorization;
      proxy_set_header Authorization $http_authorization;
{{- $contextPath := (trimAll "/" (default ( $nifiClustersLen | plural "" $nifiCluster.clusterId) $nifiCluster.ingress.proxyPath)) }}
{{- if $contextPath }}
      proxy_set_header X-ProxyContextPath {{ print "/" $contextPath | quote }};
    nginx.ingress.kubernetes.io/proxy-redirect-from: ~^/(.*)
    nginx.ingress.kubernetes.io/proxy-redirect-to: /{{ $contextPath }}/$1
{{- end }}
{{- else if eq $root.Values.ingressType "haproxy" }}
    haproxy.router.openshift.io/rewrite-target: / 
    haproxy.router.openshift.io/proxy-body-size: {{ $root.Values.ingressProxyBodySize }}
{{- end }}
{{/* ingress setup is very dependent on cluster ingress controller so allow user value annotations */ -}}
{{ with $nifiCluster.ingress.annotations }}
{{- toYaml . | trim | indent 4 }}
{{- end }}
spec:
{{- if $root.Values.ingressClassName }}
  ingressClassName: {{ $root.Values.ingressClassName | quote }}
{{- end }}
{{- if $nifiCluster.ingress.tls.secretName }}
  tls:
  - hosts:
      - {{ $nifiCluster.ingress.host }}
    secretName: {{ $nifiCluster.ingress.tls.secretName }}
{{- end }}
  rules:
  - http:
      paths:
      - path: {{ print (default ( $nifiClustersLen | plural "/" (print "/" $nifiCluster.clusterId "/")) $nifiCluster.ingress.proxyPath) $pathSuffix | quote }}
        pathType: {{ $pathType }}
        backend:
          service:
            name: {{ $nifiCluster.clusterId }}
            port:
              name: http
{{- if $nifiCluster.ingress.host }}
    host: {{ $nifiCluster.ingress.host | quote }}
{{- end }}
{{ if $nifiCluster.ingress.tls.secretName -}}
---
{{ include "idol-library.ingress.secret" (dict "tls" $nifiCluster.ingress.tls) -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- include "idolnifi.forEachCluster" (dict "root" . "tpl" "idolnifi.nifi.ingress") }}