{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{- $component := "answerserver" }}
{{- $appVersion := .AppVersion }}
{{- $versionList := slice (splitList "." $appVersion) 0 2 }}

{{- $docsLink := printf "https://www.microfocus.com/documentation/idol/IDOL_%s/%s_%s_Documentation/Help/" (join "." $versionList ) $component (join "." $versionList) }}

Provides an IDOL {{ $component }} deployment.

Depends on connections to:

- IDOL LicenseServer (`licenseServerHostname`)
- IDOL Content/Agentstore (`answerBankAgentstoreHostname`, `answerBankAgentstorePort`, `passageExtractorHostname`, `passageExtractorPort`, `passageExtractorAgentstoreHostname`, `passageExtractorAgentstorePort`)

The config file can be overridden via `existingConfigMap`.

This chart provides an `idol-answerserver` system along with answerbank, factbank and passagegextractor systems. 
These systems are empty initially, and data can be indexed into them via the provided index services. 
For example, the passageextractor system accesses documents stored in the content engine with `idol-index-service`
and `idol-query-service` services. These systems are all optional and can be disabled as desired. 
To use a passageextractorLLM system, you must first set up a persistent volume and index the appropriate model
files, then redeploy the chart with LLM configuration information in your answerserver configuration file. 

> Full documentation for answerserver available from {{ $docsLink }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}